NODE_ENV=development
PORT=3000
BASE_URL=http://localhost:3000

MONGO_URI=mongodb://localhost:27017/blog_api

JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
JWT_EXPIRE=1h
JWT_COOKIE_EXPIRE=30

REFRESH_TOKEN_SECRET = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
REFRESH_TOKEN_EXPIRE = 7d


SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_EMAIL=************84ef  // email here
SMTP_PASSWORD=************38d  // password here 
FROM_EMAIL=*************@gmail.com  // from here
FROM_NAME=Blog LPG

# Image Upload Config
USER_PHOTO_WIDTH=200
USER_PHOTO_HEIGHT=200
USER_PHOTO_FIT=cover
USER_UPLOAD_PATH=public/uploads/users

POST_IMAGE_WIDTH=1200
POST_IMAGE_HEIGHT=800
POST_IMAGE_FIT=inside
POST_UPLOAD_PATH=public/uploads/posts

MAX_FILE_SIZE=5242880 # 5MB in bytes
IMAGE_QUALITY=90